.first{
    color:red;
    font-family:'Courier New', Courier, monospace;
    
}
.two{
    color:green;
    font-family:'Courier New', Courier, monospace;
    
}

h1{
    color:yellow;
    font-family:'Courier New', Courier, monospace;
    
}
